@import url("bootstrap.min.css");

section.divide-thirds{
    width: 33%;
    min-width:300px;
    display: inline-grid;
    vertical-align: top;
    grid-template-rows: auto;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
section.center-float{
    width: 33%;
    min-width:300px;
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
section.divide-halves{
    width: 49%;
    display: inline-grid;
    vertical-align: top;
    grid-template-rows: auto;
    height: 100%;
    padding-right: 10px;
}
.divide-halves .btn {
    margin-top: 10px;
}

.table{
    vertical-align: middle;
}

section.divide-thirds:nth-child(2){
    background-color: var(--bs-light);
}
header{
    margin: 10px 10px 10px 10px;
    display: block;
}

header .btn{
    margin-left:10px;
}

header h1{
    display: inline;
}
header h2{
    font-size: 1.2rem;
    display: inline;
    margin-left: 20px;
}
header h3{
    display: block;
    margin-top: 20px;
}

footer{
    text-align: center;
    background-color: var(--bs-gray-400);
    /*    background-image: linear-gradient(to right, var(--bs-light),var(--bs-gray-400),var(--bs-light));*/
    padding-top: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--bs-gray-600);
    position: fixed;
    bottom: 0;
    right: 0;
}

.card-body{
    padding: 10px 10px 10px 10px;
}

.card .btn{
    margin-top: 10px;
}

.closebutton {
    margin-left: 20px;
    position: absolute;
    font-size: 0.6rem;
    vertical-align: top;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    right: 10px;
}

.btn-reorder {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.7rem;
}

.form-inline {
  display: inline; important
  flex-flow: row wrap;
  align-items: center;
}

@media screen and (max-width: 991px){
    section.divide-thirds{
        display: inline-block;
        width: 100%;
    }
    section.divide-halves{
        display: inline-block;
        width: 100%;

    }
}

* {
    box-sizing: border-box;
}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
}

.deleteform{
    z-index: 10;
}