<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Album Tracker</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../static/bootstrap.min.css">
                    <link rel="stylesheet" href="bootstrap.min.css">
                        <link rel="stylesheet" href="../static/styles.css">
                            <link rel="stylesheet" href="styles.css">
                                </head>
                                <body>
                                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                                        <div class="container-fluid">
                                            <a class="navbar-brand" href="/albums">Album Tracker</a>
                                        </div>
                                    </nav>
                                    <main>
                                        <section class="divide-halves">
                                                <table class="table">
                                                    <tr th:each="album : ${albums}">
                                                        <td class="table-light" th:text="${album.name} + ' (' + ${album.artist} + ')'"></td>
                                                        <td>
                                                            <form th:action="@{/index}">
                                                                <button type="submit" class="btn btn-primary btn-sm" th:name="id" th:value="${album.id}">Open album</button>
                                                            </form>
                                                        </td>
                                                    <td>
                                                        <form  th:action="@{/albums/rename}">
                                                            <button type="button" class="btn btn-outline-primary btn-sm" title="Rename" th:attr="onclick='openForm(\'renameform' + ${albumStat.index} + '\')'">Change name/artist</button>
                                                            <div class="form-popup card mb-3" th:attr="id='renameform' + ${albumStat.index}">
                                                                <h3 class="card-header">Rename album
                                                                    <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" th:attr="onclick='closeForm(\'renameform' + ${albumStat.index} + '\')'">&#9932;</button><br>
                                                                </h3>
                                                                    <div class="card-body">
                                                                        <input type="hidden" name="returnto" value=""/>
                                                                        <input type="text" class="form-control" id="albumname" placeholder="Album name" th:name="name" required>                                                            
                                                                            <input type="text" class="form-control" id="artistname" placeholder="Artist name" th:name="artist" required>
                                                                                <button type="submit" class="btn btn-primary" title="Amend" th:name="id" th:value="${album.id}">Amend album</button>
                                                                                </div>
                                                                                </div>
                                                                                </form>
                                                                                </td>
                                                                                <td>
                                                                                    <form th:action="@{/delete/album}">
                                                                                        <button type="button" class="btn btn-danger btn-sm" title="Delete" th:attr="onclick='openForm(\'deleteform' + ${albumStat.index} + '\')'">Delete album</button>
                                                                                        <div class="form-popup card mb-3 deleteform"  th:attr="id='deleteform' + ${albumStat.index}">
                                                                                            <h3 class="card-header">Delete <span th:text="${album.name}"></span>?
                                                                                                <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" th:attr="onclick='closeForm(\'deleteform' + ${albumStat.index} + '\')'">&#9932;</button><br>
                                                                                            </h3>
                                                                                            <div class="card-body">
                                                                                                <button type="submit" class="btn btn-danger" title="Delete" th:name="id" th:value="${album.id}">Delete</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </td>
                                                                                </tr>

                                                                                </table>
                                                                                </section>
                                                                                <section class="divide-halves">
                                                                                    <form th:action="@{/new/album}">
                                                                                        <button type="button" class="btn btn-info btn-lg" title="New album" onclick="openForm('albumform')">New album</button>
                                                                                        <div class="form-popup card mb-3" id="albumform">
                                                                                            <h3 class="card-header">New album
                                                                                                <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" onclick="closeForm('albumform')">&#9932;</button><br>
                                                                                            </h3>
                                                                                            <form>
                                                                                                <div class="card-body">
                                                                                                    <input type="text" class="form-control" id="albumname" placeholder="Album name" th:name="name" required>                                                            
                                                                                                        <input type="text" class="form-control" id="artistname" placeholder="Artist name" th:name="artist" required>
                                                                                                            <button type="submit" class="btn btn-primary" title="Name">Create album</button>
                                                                                                            </div>
                                                                                                            </form>
                                                                                                            </div>
                                                                                                            </form>
                                                                                                            <form th:action="@{/logout}">
                                                                                                                <button type="submit" class="btn btn-dark btn-lg">Log out</button>
                                                                                                            </form>
                                                                                                            </section>


                                                                                                            <script>
                                                                                                                function openForm(name) {
                                                                                                                    document.getElementById(name).style.display = "block";
                                                                                                                }

                                                                                                                function closeForm(name) {
                                                                                                                    document.getElementById(name).style.display = "none";
                                                                                                                }
                                                                                                            </script>
                                                                                                            </main>
                                                                                                            <footer>
                                                                                                                <p>Nick Siepmann | 2022</p>
                                                                                                            </footer>
                                                                                                            </body>
                                                                                                            </html>
