<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Album Tracker</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../static/bootstrap.min.css">
                    <link rel="stylesheet" href="bootstrap.min.css">
                        <link rel="stylesheet" href="../static/styles.css">
                            <link rel="stylesheet" href="styles.css">
                                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
                                </head>
                                <body>
                                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                                        <div class="container-fluid">
                                            <a class="navbar-brand" href="/albums">Album Tracker</a>
                                            <div class="collapse navbar-collapse show" id="navbarColor01">
                                                <ul class="navbar-nav me-auto">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/">Overview</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/edit">Edit</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/tasks">Tasks</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <main>
                                        <header>
                                            <h1>
                                                <span th:text="${song.name}"></span>
                                                <button type="button" class="btn btn-outline-primary btn-sm" title="Rename" onclick="openForm('renameform')">Change name</button>
                                            </h1>
                                        </header>
                                        <div>
                                            <section class="divide-thirds">



                                                <table class="table">
                                                    <tr th:each="row : ${grid}">
                                                        <td th:each="cell : ${row}" th:attr="class=${cellStat.index == 0 ? 'table-light' : ''}">
                                                            <span th:switch="${cellStat.index}">
                                                                <span th:case="0">
                                                                    <span th:text="${cell}"></span>                                    
                                                                </span>
                                                                <span th:case="1">
                                                                    <span th:text="${cell}"></span>                                     
                                                                </span>
                                                                <span th:case="2">
                                                                    <form th:action="@{/settaskstatus}">
                                                                        <input type="hidden" name="returnto" th:value="'/song?name=' + ${song.name}" />
                                                                        <input type="hidden" name="songname" th:value="${song.name}" />
                                                                        <input type="hidden" name="taskname" th:value="${grid[rowStat.index][1]}" />
                                                                        <span th:switch="${cell}">
                                                                            <span th:case="'X'">
                                                                                <button type="submit" class="btn btn-primary btn-sm" title="Incomplete" th:name="value" th:value="complete">&#10006;</button>
                                                                            </span>
                                                                            <span th:case="'S'">
                                                                                <button type="button" class="btn btn-warning btn-sm" title="Contains subtasks" th:attr="onclick='openAndGetForm(\'subtaskform_' + ${song.name} + '_' + ${grid[rowStat.index][1]} + '\')'">&#10022;</button>
                                                                            </span>
                                                                            <span th:case="'Y'">
                                                                                <button type="submit" class="btn btn-success btn-sm" title="Complete" th:name="value" th:value="incomplete">&#10004;</button>
                                                                            </span>
                                                                            <span th:case="*">
                                                                                <button type="submit" class="btn btn-info btn-sm" title="Add Task" th:name="value" th:value="add"><b>+</b></button>
                                                                            </span>
                                                                        </span>
                                                                    </form>
                                                                    <button type="button" class="btn btn-secondary btn-sm" title="Task options" th:attr="onclick='openAndGetForm(\'subtaskform_' + ${song.name} + '_' + ${grid[rowStat.index][1]} + '\')'" th:if="${cell} == 'X' or ${cell} == 'S' or ${cell} == 'Y'" >&#10035;</button>
                                                                    <div class="form-popup card mb-3 deleteform"  th:attr="id='subtaskform_' + ${song.name} + '_' + ${grid[rowStat.index][1]}">
                                                                        <h3 class="card-header"><span th:text="${grid[rowStat.index][1]}"></span> - <span class="text-muted" th:text="${song.name}"></span>
                                                                            <form th:action="@{/song}">
                                                                                <input type="hidden" name="name" th:value="${song.name}" />
                                                                                <button type="submit" class="btn btn-outline-secondary btn-sm closebutton" title="Close" >&#9932;</button>
                                                                            </form>
                                                                            <button type="button" class="btn btn-danger btn-sm" th:attr="onclick='openForm(\'deletetaskform' + ${song.name} + '_' + ${grid[rowStat.index][1]} + '\')'">Delete task</button>
                                                                            <div class="form-popup card mb-3 deleteform" th:attr="id='deletetaskform' + ${song.name} + '_' + ${grid[rowStat.index][1]}">
                                                                                <h3 class="card-header">Delete <span th:text="${grid[1][cellStat.index]}"></span>?
                                                                                    <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" th:attr="onclick='closeForm(\'deletetaskform' + ${song.name} + '_' + ${grid[rowStat.index][1]} + '\')'">&#9932;</button><br>
                                                                                </h3>
                                                                                <form th:action="@{/settaskstatus}">
                                                                                    <input type="hidden" name="returnto" th:value="'song?name=' + ${song.name}"/>
                                                                                    <input type="hidden" name="songname" th:value="${song.name}" />
                                                                                    <input type="hidden" name="taskname" th:value="${grid[rowStat.index][1]}" />
                                                                                    <div class="card-body">
                                                                                        <button type="submit" class="btn btn-danger" title="Delete" th:name="value" th:value="delete">Delete</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </h3>
                                                                        <div class="card-body">
                                                                            <div class="form-group" th:attr="id='table-subtaskform_' + ${song.name} + '_' + ${grid[rowStat.index][1]}"></div>
                                                                            <form th:action="@{/new/subtask}">
                                                                                <input type="hidden" name="songname" th:value="${song.name}" />
                                                                                <input type="hidden" name="taskname" th:value="${grid[rowStat.index][1]}" />
                                                                                <input type="hidden" name="returnto" th:value="'song?name=' + ${song.name}"/>
                                                                                <div class="form-group">
                                                                                    <input type="text" class="form-control" name="subtaskname" id="subtaskname" placeholder="New subtask" required>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-info">Add subtask</button>
                                                                            </form>

                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </td>                
                                                    </tr>
                                                </table>
                                            </section>
                                            <section class="divide-thirds">
                                                <h2>Comments</h2>
                                                <table class="table-light"><tr th:each="comment : ${song.comments}"><td th:text="${comment.userId}"></td><td th:text="${comment.timestamp}"></td><td th:text="${comment.commentText}"></td></tr></table>
                                                <form th:action="@{/song/addcomment}">
                                                    <label for="newcomment">Add comment:</label>
                                                    <input type="hidden" name="songname" th:value="${song.name}" />
                                                    <input type="hidden" name="returnto" th:value="'song?name=' + ${song.name}"/>
                                                    <input class="form-control" id="commenttext" name="commenttext" type="text" required>
                                                        <button type="submit" class="btn btn-primary" title="Add comment">Add comment</button>
                                                </form>
                                            </section>
                                            <section class="divide-thirds">
                                                <h2>Notes</h2>
                                                <form th:action="@{/song/setnotes}">
                                                    <input type="hidden" name="songname" th:value="${song.name}" />
                                                    <input type="hidden" name="returnto" th:value="'song?name=' + ${song.name}"/>
                                                    <input class="form-control" rows="4" type="text" id="notestext" name="notestext" th:value="${song.notes}">
                                                        <button type="submit" class="btn btn-primary" title="Update notes">Update notes</button>
                                                </form>
                                            </section>
                                        </div>


                                        <div class="form-popup card mb-3" id="renameform">
                                            <h3 class="card-header">Rename song
                                                <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close subtask menu" onclick="closeForm('renameform')">&#9932;</button><br>
                                            </h3>
                                            <form th:action="@{/rename/song}">
                                                <div class="card-body">
                                                    <input type="hidden" name="songname" th:value="${song.name}" />
                                                    <input type="hidden" name="oldname" th:value="${song.name}"/>
                                                    <input type="text" class="form-control" id="newname" name="newname" placeholder="Song name" required>
                                                    <input type="hidden" name="returnto" th:value="index"/>
                                                    <button type="submit" class="btn btn-primary" title="Rename">Rename</button>
                                                </div>
                                            </form>
                                        </div>

                                        <script>
                                            function openForm(name) {
                                                document.getElementById(name).style.display = "block";
                                            }
                                            function openAndGetForm(name) {
                                                $.get("/taskforsong/" + name).done(function (fragment) { // get from controller
                                                    $("#table-" + name).replaceWith(fragment); // update snippet of page
                                                });

                                                document.getElementById(name).style.display = "block";
                                            }
                                            function closeForm(name) {
                                                document.getElementById(name).style.display = "none";
                                            }
                                        </script>

                                    </main>
                                    <footer>
                                        <p>Nick Siepmann | 2022</p>
                                    </footer>
                                </body>
                                </html>
