<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Album Tracker</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../static/bootstrap.min.css">
                    <link rel="stylesheet" href="bootstrap.min.css">
                        <link rel="stylesheet" href="../static/styles.css">
                            <link rel="stylesheet" href="styles.css">
                                </head>
                                <body>
                                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                                        <div class="container-fluid">
                                            <a class="navbar-brand" href="/albums">Album Tracker</a>
                                            <div class="collapse navbar-collapse show" id="navbarColor01">
                                                <ul class="navbar-nav me-auto">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/">Overview</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/edit">Edit</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/tasks">Tasks</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <main>
                                        <header>
                                            <h1>Edit Tasks</h1>
                                            <h3><span th:text="${#strings.replace(album.name,'~',' ')}"></span> <small class="lead">(<span th:text="${#strings.replace(album.artist,'~',' ')}"></span>)</small>
                                                <button type="button" class="btn btn-outline-primary btn-sm" title="Phases" onclick="openForm('phasesform')">Edit Phases</button></h3>                                                                               
                                        </header>
                                        <div>
                                            <table class="table">
                                                <tr class="table-light">
                                                    <td>Tasks</td>
                                                    <td/>
                                                    <td th:each="phase : ${phases}"><span th:text="${#strings.replace(phase,'~',' ')}"></span></td>
                                                    <td/>
                                                </tr>
                                                <tr th:each="task : ${tasks}">
                                                    <td th:text="${#strings.replace(task[0],'~',' ')}"></td>  

                                                    <td>
                                                        <form th:action="@{/reorder/task/up}">
                                                            <button type="submit" class="btn btn-secondary btn-sm btn-reorder" title="Move Up" th:name="name" th:value="${task[0]}">&#9650;</button>        
                                                        </form>
                                                        <form th:action="@{/reorder/task/down}">
                                                            <button type="submit" class="btn btn-secondary btn-sm  btn-reorder" title="Move Down" th:name="name" th:value="${task[0]}">&#9660;</button>        
                                                        </form>
                                                    </td>
                                                    <td th:each="phase : ${phases}">
                                                        <form th:action="@{/task/setphase}">
                                                            <input type="hidden" name="value" th:value="${task[0]} + '_' + ${phaseStat.index}" />
                                                            <input type="radio" th:name="${task[0]}" th:value="${task[0]} + '_' + ${phaseStat.index}" th:checked="${task[1]} == ${phaseStat.index}" th:onclick="this.form.submit()">
                                                        </form>
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger btn-sm" th:attr="onclick='openForm(\'deletetaskform' + ${taskStat.index} + '\')'">Delete</button>
                                                        <div class="form-popup card mb-3 deleteform" th:attr="id='deletetaskform' + ${taskStat.index}">
                                                            <h3 class="card-header">Delete <span th:text="${#strings.replace(task[0],'~',' ')}"></span>?
                                                                <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" th:attr="onclick='closeForm(\'deletetaskform' + ${taskStat.index} + '\')'">&#9932;</button><br>
                                                            </h3>
                                                            <form th:action="@{/delete/task}">
                                                                <div class="card-body">
                                                                    <button type="submit" class="btn btn-danger" title="Delete" th:name="task" th:value="${task[0]}">Delete</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <button type="button" class="btn btn-info"  onclick="openForm('addtaskform')">Add Task</button>
                                            <div class="form-popup card mb-3" id="addtaskform">
                                                <form  th:action="@{/new/task}">
                                                    <h3 class="card-header">New task
                                                        <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" onclick="closeForm('addtaskform')">&#9932;</button><br>
                                                    </h3>
                                                    <div class="card-body">
                                                        <input type="text" class="form-control" id="taskname" placeholder="Task name" th:name="name" required>                                                            
                                                            <button type="submit" class="btn btn-primary" title="Create Task">Create Task</button>
                                                    </div>  
                                                </form>                                                                              
                                            </div> 
                                        </div>






                                        <div class="form-popup card mb-3" id="phasesform">
                                            <h3 class="card-header">Phases
                                                <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" onclick="closeForm('phasesform')">&#9932;</button></h3>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <table class="table">
                                                        <tr th:each="phase : ${phases}">
                                                            <td class="table-light" th:text="${#strings.replace(phase,'~',' ')}"></td>
                                                            <td>
                                                                <form th:action="@{/rename/phase}">
                                                                    <button type="button" class="btn btn-outline-primary btn-sm" title="Rename" th:attr="onclick='openForm(\'renamephaseform' + ${phaseStat.index} + '\')'">Rename</button>
                                                                    <div class="form-popup card mb-3" th:attr="id='renamephaseform' + ${phaseStat.index}">
                                                                        <h3 class="card-header">Rename
                                                                            <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close menu" th:attr="onclick='closeForm(\'renamephaseform' + ${phaseStat.index} + '\')'">&#9932;</button>
                                                                            <br>
                                                                        </h3>
                                                                        <div class="card-body">
                                                                            <input type="hidden" name="songname" th:value="tasks" />
                                                                            <input type="text" class="form-control" id="phasename" placeholder="Phase name" th:name="newname" required>
                                                                                <button type="submit" class="btn btn-primary" title="Rename" th:name="phasenumber" th:value="${phaseStat.index}">Rename <span th:text="${phase}"></span></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </td>
                                                            <td>
                                                                <form th:action="@{/delete/phase}">
                                                                    <button type="button" class="btn btn-danger btn-sm" title="Delete" th:attr="onclick='openForm(\'deletephaseform' + ${phaseStat.index} + '\')'">Delete</button>
                                                                </form>
                                                                <div class="form-popup card mb-3 deleteform" th:attr="id='deletephaseform' + ${phaseStat.index}">
                                                                    <h3 class="card-header">Delete <span th:text="${#strings.replace(phase,'~',' ')}"></span>?
                                                                        <button type="button" class="btn btn-outline-secondary btn-sm closebutton" title="Close" th:attr="onclick='closeForm(\'deletephaseform' + ${phaseStat.index} + '\')'">&#9932;</button><br>
                                                                    </h3>
                                                                    <form  th:action="@{/delete/phase}">
                                                                        <div class="card-body">
                                                                            <button type="submit" class="btn btn-danger" title="Delete" th:name="phasenumber" th:value="${phaseStat.index}">Delete</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <form th:action="@{/new/phase}">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="name" th:name="name" placeholder="New Phase" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-info">Add Phase</button>
                                                </form>
                                            </div>
                                        </div>

                                        <script>
                                            function openForm(name) {
                                                document.getElementById(name).style.display = "block";
                                            }

                                            function closeForm(name) {
                                                document.getElementById(name).style.display = "none";
                                            }
                                        </script>
                                    </main>
                                    <footer>
                                        <p>Nick Siepmann | 2022</p>
                                    </footer>
                                </body>
                                </html>
